* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1d2671, #c33764);
  background: linear-gradient(to right, #1d2671, #c33764);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.todo-app {
  width: 540px;
  background-color: #fff;
  padding: 40px 30px 70px;
  border-radius: 10px;
  margin-top: 100px;
}

.todo-app h1 {
  color: #1d2671;
  margin-bottom: 20px;
}

#form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 10px 10px;
  background-color: #c33764;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  padding: 12px 8px 12px 50px;
  list-style: none;
  font-size: 17px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(/images/unchecked.png);
  background-size: cover;
  background-position: center;
  left: 16px;
  top: 11px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
  opacity: 0.5;
}

ul li.checked::before {
  background-image: url(/images/checked.png);
}

span {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #555;
  border-radius: 50%;
}

span:hover {
  background: #edeef0;
}
